@font-face{
    font-family: "Roboto Flex";
    src: url(../fonts/RobotoFlex-Regular.ttf);
}

*{
    font-family: "Roboto Flex";
}

body{
    margin: 0;
}

.row{
    display: flex;
}

.column{
    flex: 50%;
}

.left-column{
    background-color: #3c4043;
    flex: 15%;
    border-top: #3c4043;
    border-right: rgb(178, 123, 4);
    border-bottom: #3c4043;
    border-style: solid;
}

.right-column{
    background-color: rgb(255, 255, 255);
    margin-right: 10%;
}

.cv-name{
    font-size: 50px;
    margin: 0% auto;
    margin-left: 5%;
    text-transform: uppercase;
    color: rgb(73, 73, 73);
}

.top-cv-name{
    margin-top: 5%;
}

.cv-occupation-title{
    margin-left: 5%;
    text-transform: uppercase;
}

.cv-section-title{
    margin-left: 5%;
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(178, 123, 4);
}

.cv-profile-description{
    margin-left: 5%;
}

.bulleted-list{
    margin-left: 5%;
    flex: 5%;
}

.cv-section-date{
    flex: 30%;
    color: rgb(178, 123, 4);
}

.cv-section-content{
    flex: 65%;
}

.bulleted-item{
    background-color: rgb(178, 123, 4);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    margin-top: 50%;
}

.cv-section-subtitle{
    color:rgb(73, 73, 73);
}

.cv-section-subtitle-location{
    color: rgb(100, 100, 100);
}

.cv-section-subtitle-description{
    color: rgb(120, 120, 120);
}

.cv-footer{
    height: 35px;
    background-color: rgb(178, 123, 4);
}

.cv-image-frame{
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    transform: rotate(45deg);
    border: rgb(178, 123, 4);
    border-style: solid;
    z-index: 100;
}

.cv-image{
    width: 250px;
    height: 250px;
    top: -15%;
    transform: rotate(-45deg);
    z-index: -1;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin-left: -13%;
    margin-top: -13%;
}